html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: dimgrey;
    color: white;
}

a, .btn-link {
    color: lightgray;
}

.headline {
    text-align: center;
    font-variant-caps: small-caps;
    margin: auto;
}
h1.headline {
    font-size: 60px;
}
h2.headline {
    font-size: 40px;
}

input {
    background-color: dimgrey;
    color: white;
}
input.arrow {
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
    background-size: contain;
}
input.arrow:active {
    background-blend-mode: overlay;
}
input.down-arrow {
    margin: auto auto 0px auto;
}
input.down-arrow-status-0 {
    background-image: URL("/images/Down.png");
}
input.down-arrow-status-1 {
    background-image: URL("/images/Down-Inner.png");
}
input.down-arrow-status-2 {
    background-image: URL("/images/Down-Ringed.png");
}
input.down-arrow-status-3 {
    background-image: URL("/images/Down-Ringed-Inner.png");
}
input.down-arrow-status-0:hover {
    background-image: URL("/images/Empty-Down.png");
}
input.down-arrow-status-1:hover {
    background-image: URL("/images/Empty-Down-Inner.png");
}
input.down-arrow-status-2:hover {
    background-image: URL("/images/Empty-Down-Ringed.png");
}
input.down-arrow-status-3:hover {
    background-image: URL("/images/Empty-Down-Ringed-Inner.png");
}
div.down-arrow {
    margin: auto auto 5px auto;
}
input.right-arrow {
    margin: auto 0px auto auto;
}
input.right-arrow-status-0 {
    background-image: URL("/images/Right.png");
}
input.right-arrow-status-1 {
    background-image: URL("/images/Right-Inner.png");
}
input.right-arrow-status-2 {
    background-image: URL("/images/Right-Ringed.png");
}
input.right-arrow-status-3 {
    background-image: URL("/images/Right-Ringed-Inner.png");
}
input.right-arrow-status-0:hover {
    background-image: URL("/images/Empty-Right.png");
}
input.right-arrow-status-1:hover {
    background-image: URL("/images/Empty-Right-Inner.png");
}
input.right-arrow-status-2:hover {
    background-image: URL("/images/Empty-Right-Ringed.png");
}
input.right-arrow-status-3:hover {
    background-image: URL("/images/Empty-Right-Ringed-Inner.png");
}
div.right-arrow {
    margin: auto 5px auto auto;
}
input.down-right-arrow {
    margin: auto 0px 0px auto;
}
input.down-right-arrow-status-0 {
    background-image: URL("/images/Down-Right.png");
}
input.down-right-arrow-status-1 {
    background-image: URL("/images/Down-Right-Inner.png");
}
input.down-right-arrow-status-2 {
    background-image: URL("/images/Down-Right-Ringed.png");
}
input.down-right-arrow-status-3 {
    background-image: URL("/images/Down-Right-Ringed-Inner.png");
}
input.down-right-arrow-status-0:hover {
    background-image: URL("/images/Empty-Down-Right.png");
}
input.down-right-arrow-status-1:hover {
    background-image: URL("/images/Empty-Down-Right-Inner.png");
}
input.down-right-arrow-status-2:hover {
    background-image: URL("/images/Empty-Down-Right-Ringed.png");
}
input.down-right-arrow-status-3:hover {
    background-image: URL("/images/Empty-Down-Right-Ringed-Inner.png");
}
div.down-right-arrow {
    margin: auto 5px 5px auto;
}
input.down-left-arrow {
    margin: auto auto 0px 0px;
}
input.down-left-arrow-status-0 {
    background-image: URL("/images/Down-Left.png");
}
input.down-left-arrow-status-1 {
    background-image: URL("/images/Down-Left-Inner.png");
}
input.down-left-arrow-status-2 {
    background-image: URL("/images/Down-Left-Ringed.png");
}
input.down-left-arrow-status-3 {
    background-image: URL("/images/Down-Left-Ringed-Inner.png");
}
input.down-left-arrow-status-0:hover {
    background-image: URL("/images/Empty-Down-Left.png");
}
input.down-left-arrow-status-1:hover {
    background-image: URL("/images/Empty-Down-Left-Inner.png");
}
input.down-left-arrow-status-2:hover {
    background-image: URL("/images/Empty-Down-Left-Ringed.png");
}
input.down-left-arrow-status-3:hover {
    background-image: URL("/images/Empty-Down-Left-Ringed-Inner.png");
}
div.down-left-arrow {
    margin: auto auto 5px 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 140px);
    grid-gap: 5px;
    align-items: center;
    max-width: 1750px;
    text-align: center;
    width: 720px;
    margin: 0px auto 0px auto;
}
.grid-item {
    display: inline;
    text-align: center;
    overflow-x: hidden;
}
.selections {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;
    color: black;
    height: 140px;
    width: 140px;
}
select.selections {
    font-size: 100px;
    text-indent: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: dimgrey;
    color: red;
    text-shadow: 4px 2px darkred;
    border-style: none;
    outline-style: none;
}
select.selections-status-0 {
    background-image: URL("/images/Light-Filled.png");
}
select.selections-status-1 {
    background-image: URL("/images/Dark-Filled.png");
}
select.selections-status-2 {
    background-image: URL("/images/Light-Filled-Ringed.png");
}
select.selections-status-3 {
    background-image: URL("/images/Dark-Filled-Ringed.png");
}
select.selections-status-0:hover, select.selections-status-1:hover {
    background-image: URL("/images/Empty.png");
}
select.selections-status-2:hover, select.selections-status-3:hover {
    background-image: URL("/images/Empty-Ringed.png");
}
option.selections {
    color: red;
    background-color: dimgrey;
}
.hidden-selections {
    display: none;
    font-size: medium;
    overflow-x: hidden;
    max-width: 100%;
}
.disabled-selections {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
    max-width: 75%;
    color: white;
}
.results {
    font-size: medium;
    vertical-align: central;
}
.results-right, .results-bottom-right {
    text-align: left;
}
div.results-right {
    margin: auto auto auto 5px;
}
div.results-bottom-right {
    margin: 5px auto auto 5px;
}
.results-bottom {
    text-align: center;
}
div.results-bottom {
    margin: 5px auto auto auto;
}
.results-bottom-left {
    text-align: right;
}
div.results-bottom-left {
    margin: 5px 5px auto auto;
}
.results-status-0 {
    color: white;
}
.results-status-1, .results-status-2, .results-status-3 {
    color: gold;
    font-weight: bold;
}
.payout-grid {
    font-size: medium;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(11, max-content);
    grid-column-gap: 1em;
    grid-row-gap: 0px;
    align-items: center;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}
.sub-payout-grid {
    display: inline-grid;
    grid-template-columns: minmax(60px, 15%) minmax(80px, 20%) minmax(20px, 75%);
    max-height: 45px;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: darkgoldenrod;
}
.sub-payout-grid:hover, .sub-payout-grid:focus {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: goldenrod;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: goldenrod;
}
.payout-item {
    display: inline;
    text-align: center;
}
.payout-item-final {
    display: inline;
    grid-column: 1 / span 3;
}
.payout-number {
    display: inline;
    text-align: right;
    font-size: medium;
    font-weight: bold;
    border-style: none;
    color: white;
    width: 100%;
    outline-style: none;
}
.payout-number:hover, .payout-number:focus {
    border-style: solid;
    border-width: thin;
    border-color: darkgoldenrod;
}
.payout-headline, .payout-headline-number {
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-align: center;
    border-style: none;
}
.payout-headline-number {
    text-align: right;
}
.payout-sum {
    font-weight: bold;
    color: gold;
    text-align: center;
}

hr {
    max-width: 1000px;
    border-style: solid;
    border-width: thin;
    border-color: darkgoldenrod;
}

.content {
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
